<div class="admin-container">
  <!-- Верхняя панель навигации -->
  <div class="tab-navigation">
    <button 
      *ngFor="let tab of [ActiveTab.CATEGORIES, ActiveTab.PRODUCTS, ActiveTab.FILTERS, ActiveTab.SALES, ActiveTab.BANNERS]" 
      class="tab-button" 
      [class.active]="currentTab === tab"
      (click)="setActiveTab(tab)">
      {{ tab }}
    </button>
  </div>

  <!-- Контент -->
  <div class="tab-content">
    <div class="content-box" *ngIf="currentTab === ActiveTab.CATEGORIES">
      <app-categories></app-categories>
    </div>
    <div class="content-box" *ngIf="currentTab === ActiveTab.PRODUCTS">
      <app-products></app-products>
    </div>
    <div class="content-box" *ngIf="currentTab === ActiveTab.FILTERS">
      <app-filters></app-filters>
    </div>
    <div class="content-box" *ngIf="currentTab === ActiveTab.SALES">
      <app-sales></app-sales>
    </div>
    <div class="content-box" *ngIf="currentTab === ActiveTab.BANNERS">
      <app-banners-admin></app-banners-admin>
    </div>
  </div>
</div>
