.admin-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.tab-navigation {
  display: flex;
  overflow-x: auto; /* Включаем горизонтальную прокрутку */
  white-space: nowrap; /* Запрещаем перенос кнопок на следующую строку */
  margin-bottom: 20px;
  border-bottom: 1px solid #A2836E; /* Цвет мокко */
  padding-bottom: 10px; /* Добавляем небольшой отступ снизу для эстетики */
  -webkit-overflow-scrolling: touch; /* Плавный скроллинг для мобильных устройств */
}

.tab-button {
  padding: 10px 20px;
  margin-right: 10px;
  background-color: rgba(240, 209, 161, 0.5); /* Полупрозрачный фон */
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  flex-shrink: 0; /* Запрещаем кнопкам сжиматься */
  color: #A2836E; /* Цвет мокко */
}

.tab-button.active {
  background-color: #A2836E; /* Цвет мокко */
  color: white;
}

.tab-content {
  padding: 20px;
  background-color: rgba(240, 209, 161, 0.3); /* Полупрозрачный фон */
  border: 1px solid #A2836E; /* Цвет мокко */
}
