<app-headerback [pageTitle]="'CATALOG' | translate"></app-headerback>
<section class="category-page">
  <h2 class="category-title">{{ categoryName | capitalize }}</h2>
  <app-search (search)="onSearch($event)"></app-search>
  <div class="filters">
    <app-filters [items]="filters" [preselectedFilters]="selectedFilters" (filtersChanged)="onFiltersChanged($event)">
    </app-filters>
  </div>

  <div class="products-container">
    <!-- <p *ngIf="isLoading" class="loading-text">{{ 'ENTER_QUERY' | translate }}</p> -->
    <div *ngIf="isLoading" class="loading-indicator">
      <div class="loader"></div>
    </div>

    <p *ngIf="!isLoading && !products?.length" class="no-results-text">
      {{ 'NOT_FOUND_FOR_CATEGORY' | translate }} "{{ categoryName }}" 😞
    </p>
    <div class="product-row" *ngFor="let row of getRows(products)">
      <app-product-card *ngFor="let product of row" [product]="product" (click)="openProduct(product.id)">
      </app-product-card>
    </div>
  </div>
</section>