<div class="banners-admin container mt-5">
  <h1 class="text-center mb-4">Редактирование баннеров</h1>

  <div class="banner-form card p-4 mb-4" *ngIf="selectedBanner">
    <h2 class="h4 mb-3">Редактирование банера</h2>
    <form>
      <div class="mb-3">
        <label for="image" class="form-label">Загрузи новые изображения которые будут отображаться в банере</label>
        <input
          id="image"
          type="file"
          class="form-control"
          (change)="onImageSelected($event)"
          multiple
        />
      </div>
      <button class="btn btn-primary w-100" (click)="updateBanner()" type="button">
        Обновить баннер
      </button>
    </form>
  </div>

  <div class="banners-list">
    <ul class="list-group">
      <li *ngFor="let banner of banners" class="list-group-item d-flex flex-column align-items-start">
        <p class="fw-bold">{{ banner.category }}</p>
        <div class="banner-images d-flex flex-wrap gap-2 mb-3">
          <img
            *ngFor="let image of banner.media"
            [src]="imageService.getImageUrl(image)"
            alt="Banner Image"
            class="img-thumbnail"
            style="max-width: 150px; max-height: 150px;"
          />
        </div>
        <button class="btn btn-secondary me-2" (click)="editBanner(banner)">Редактировать</button>
      </li>
    </ul>
  </div>
</div>
