<header class="header">
    <button class="header-button" (click)="goBack()">
      <img src="../../../../assets/icons/back.svg" alt="назад" width="9" height="12">
    </button>
  
    <h1 class="header-title">{{ 'SETTINGS' | translate }}</h1>
  
    <button class="header-button" (click)="toggleInfoTooltip()">
      <img src="../../../../assets/icons/info.svg" alt="info" width="24" height="24">
    </button>
  </header>
  
  <!-- Всплывающее сообщение -->
<div *ngIf="isTooltipVisible" class="info-tooltip">
    <div class="tooltip-content">
      <p class="tooltip-title">{{ 'SETTINGS_DESCRIPTION' | translate }}</p>
      <div class="options-container">
        <div class="option-item">
          <span class="option-title">{{ 'LANGUAGE_SELECTION' | translate }}</span>
          <p class="option-description">
            {{ 'LANGUAGE_SELECTION_DESCRIPTION' | translate }}
          </p>
        </div>
        <!-- <div class="option-item">
          <span class="option-title">Выбор валюты</span>
          <p class="option-description">
            Установите предпочитаемую валюту для отображения цен, чтобы сделать покупки удобнее.
          </p>
        </div> -->
        <div class="option-item">
          <span class="option-title">{{ 'ADD_BIRTH_DATE' | translate }}</span>
          <p class="option-description">
            {{ 'ADD_BIRTH_DATE_DESCRIPTION' | translate }}
          </p>
        </div>
        <div class="option-item">
          <span class="option-title">{{ 'CONTACT_MANAGER' | translate }}</span>
          <p class="option-description">
            {{ 'CONTACT_MANAGER_DESCRIPTION' | translate }}
          </p>
        </div>
      </div>
    </div>
  </div>
  