<div class="sliders-container">
  <div class="slider">
    <div
      class="slider-placeholder"
      *ngIf="!imagesLoaded || !images[currentIndex]?.url"
    ></div>
    <img
      *ngIf="imagesLoaded && images[currentIndex]?.url"
      [src]="images[currentIndex].url"
      [alt]="images[currentIndex].alt"
      class="slider-image"
    />
    <div class="dots">
      <button
        *ngFor="let image of images; let i = index"
        class="dot"
        [class.active]="i === currentIndex"
        (click)="setIndex(i)"
      ></button>
    </div>
  </div>

  <div class="slider">
    <div
      class="slider-placeholder"
      *ngIf="!secondImagesLoaded || !secondImages[secondCurrentIndex]?.url"
    ></div>
    <img
      *ngIf="secondImagesLoaded && secondImages[secondCurrentIndex]?.url"
      [src]="secondImages[secondCurrentIndex].url"
      [alt]="secondImages[secondCurrentIndex].alt"
      class="slider-image"
    />
    <div class="dots">
      <button
        *ngFor="let image of secondImages; let i = index"
        class="dot"
        [class.active]="i === secondCurrentIndex"
        (click)="setSecondIndex(i)"
      ></button>
    </div>
  </div>
</div>
