.sliders-container {
    display: flex;
    gap: 8px; /* Отступ между блоками */
    margin-top: 8px;
}

.slider {
    width: calc(50% - 4px); /* 50% минус половина нового gap */
    position: relative;
    height: 198px;
    border-radius: 12px;
    overflow: hidden;
}

.slider-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
}

.dots {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    border: none;
    padding: 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.dot.active {
    background: white;
}


.slider-placeholder {
    width: 100%;
    height: 100%;
    background-color: #e0e0e0; /* Серый фон */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 14px;
    color: #888888;
  }
  