<div class="sliders-container">
    <div class="slider">
      <img [src]="images[currentIndex].url" [alt]="images[currentIndex].alt" class="slider-image">
      <div class="dots">
        <button *ngFor="let image of images; let i = index" class="dot" [class.active]="i === currentIndex"
          (click)="setIndex(i)"></button>
      </div>
    </div>
  
    <div class="slider">
      <img [src]="secondImages[secondCurrentIndex].url" [alt]="secondImages[secondCurrentIndex].alt" class="slider-image">
      <div class="dots">
        <button *ngFor="let image of secondImages; let i = index" class="dot" [class.active]="i === secondCurrentIndex"
          (click)="setSecondIndex(i)"></button>
      </div>
    </div>
  </div>