<div class="cart-item">
  <div class="item-image">
    <img 
      [src]="imageSrc" 
      alt="Product Image" 
      (load)="onImageLoad()" 
      (error)="setDefaultImage($event)" 
      [class.loading]="imageLoading" />
  </div>
  <div class="item-details">
    <div class="item-title">{{ title }}</div>
    <div class="item-footer">
      <div class="quantity-selector">
        <button class="quantity-btn" (click)="decreaseQuantity()">−</button>
        <span class="quantity-number">{{ quantity }}</span>
        <button class="quantity-btn" (click)="increaseQuantity()">+</button>
      </div>
      <div class="price-and-remove">
        <span *ngIf="discountedPrice !== null; else normalPrice">
          <span class="old-price">{{ price * quantity }} р.</span>
          <span class="new-price">{{ discountedPrice * quantity | number:'1.2-2' }} р.</span>
        </span>
        <ng-template #normalPrice>
          <span class="item-price">{{ price * quantity | number:'1.2-2' }} р.</span>
        </ng-template>
        <img src="../../../../assets/icons/plus.svg" alt="Remove" class="remove-icon" (click)="removeItem()" />
      </div>
    </div>
  </div>
</div>
