<div class="product-full-page" *ngIf="product; else loadingBlock">
    <!-- Основной контент, отображается после загрузки продукта -->
    <div class="gallery">
      <div class="gallery-slider">
        <div
          class="gallery-track"
          [style.transform]="'translateX(' + (-currentMediaIndex * 100) + '%)'"
          (touchstart)="onTouchStart($event)"
          (touchmove)="onTouchMove($event)"
          (touchend)="onTouchEnd()"
        >
          <div class="gallery-item" *ngFor="let media of mediaItems">
            <img *ngIf="isImage(media)" [src]="media" alt="Media" class="gallery-media" />
            <ng-container *ngIf="isVideo(media)">
              <video controls autoplay loop playsinline class="gallery-media">
                <source [src]="media" type="video/mp4" />
                Ваш браузер не поддерживает видео.
              </video>
            </ng-container>
          </div>
        </div>
      </div>
    
      <div class="gallery-nav">
        <button *ngFor="let media of mediaItems; let i = index"
                class="gallery-dot"
                [class.active]="i === currentMediaIndex"
                (click)="selectMedia(i)">
        </button>
      </div>
    </div>
    
    
      

    <!-- Product Info -->
    <div class="product-info">
        <h2 class="product-title">{{ product.name }}</h2>
        <!-- <p class="availability">{{ 'IS_AVALIBLE' | translate }}</p> -->

        <div class="price-container">
            <span *ngIf="product.discounted_price !== null" class="old-price">{{ product.price }} {{ 'CURRENCY' | translate }}</span>
            <span *ngIf="product.discounted_price !== null" class="new-price">{{ product.discounted_price | number:'1.2-2' }} {{ 'CURRENCY' | translate }}</span>
            <span *ngIf="product.discounted_price === null">{{ product.price }} {{ 'CURRENCY' | translate }}</span>
        </div>

      <div class="product-details">
        <div class="details-content">

          <div class="detail-value">{{ product.description }}</div>
          <ng-container *ngIf="!isLoadingAttributes; else loadingAttributesBlock">
            <div class="detail" *ngFor="let attr of allAttributes">
              <!-- <span class="detail-title">{{ attr.name }}</span> -->
              <span class="detail-value">{{ attr.value }}</span>
            </div>
          </ng-container>
        </div>
      
        <ng-template #loadingAttributesBlock>
          <p>Loading attributes...</p>
        </ng-template>
      </div>

      <!-- Buttons -->
      <div class="actions">
        <button class="action-button" (click)="addToCartFast()">{{ 'BUY_NOW' | translate }}</button>
        <button class="action-button" (click)="addToCart()">{{ 'ADD_TO_CART' | translate }}</button>
    </div>    
      

        <!-- <div class="expandable-info">
            <div *ngIf="showMoreInfo" class="info-content">
                <p>{{ 'BRAND_DESCRIPTION' | translate }}</p>
                <p>{{ 'JEWELRY_MEANING' | translate }}</p>
                <p>{{ 'LIFETIME_GUARANTEE' | translate }}</p>
                <p>{{ 'AUTHENTICITY_CERTIFICATION' | translate }}</p>
                <p>{{ 'DELIVERY_INFORMATION' | translate }}</p>
            </div>
        </div> -->
    </div>

    <!-- Recommendations -->
    <!-- <div class="jewelry-wrapper">
        <app-recomendations></app-recomendations>
    </div> -->
</div>

<!-- Блок загрузки -->
<ng-template #loadingBlock>
    <div class="loading-skeleton">
        <div class="skeleton-title"></div>
        <div class="skeleton-media"></div>
        <div class="skeleton-details"></div>
    </div>
</ng-template>