<div class="product-full-page" *ngIf="product">
    <div class="media-gallery">
        <div class="slider">
            <div class="media-container">
                <ng-container *ngIf="currentMedia">
                    <!-- Изображение -->
                    <img *ngIf="isImage(currentMedia)" [src]="currentMedia" alt="Media Content" class="slider-media" />
                    <!-- Видео -->
                    <video *ngIf="isVideo(currentMedia)" [src]="currentMedia" controls class="slider-media"></video>
                </ng-container>
            </div>

            <!-- Навигационные точки -->
            <div class="dots">
                <button *ngFor="let media of mediaItems; let i = index" class="dot"
                    [class.active]="i === currentMediaIndex" (click)="selectMedia(i)">
                </button>
            </div>
        </div>
    </div>

    <!-- Product Info -->
    <div class="product-info">
        <h2 class="product-title">{{ product.name }}</h2>
        <p class="availability">{{ 'IS_AVALIBLE' | translate }}</p>

        <div class="price-container">
            <span *ngIf="product.discounted_price !== null" class="old-price">{{ product.price }} USD</span>
            <span *ngIf="product.discounted_price !== null" class="new-price">{{ product.discounted_price }} USD</span>
            <span *ngIf="product.discounted_price === null">{{ product.price }} USD</span>
        </div>

        <div class="product-details">
            <!-- Main Attributes -->
            <div class="detail" *ngFor="let attr of mainAttributes">
                <span class="detail-title">{{ attr.name }}</span>
                <span class="detail-value">{{ attr.value }}</span>
            </div>

            <!-- Extra Attributes -->
            <div class="detail-extra" *ngIf="showDetails">
                <div class="detail" *ngFor="let attr of extraAttributes">
                    <span class="detail-title">{{ attr.name }}</span>
                    <span class="detail-value">{{ attr.value }}</span>
                </div>
            </div>

            <!-- Toggle Details Arrow -->
            <div class="arrow-container" (click)="toggleDetails()">
                <!-- SVG Arrow Icon -->
                <svg [class.open]="showDetails" xmlns="http://www.w3.org/2000/svg" width="37" height="37"
                    viewBox="0 0 37 37" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M12.014 15.0974C12.6161 14.4953 13.5922 14.4953 14.1943 15.0974L18.5 19.4031L22.8057 15.0974C23.4078 14.4953 24.3839 14.4953 24.986 15.0974C25.588 15.6994 25.588 16.6756 24.986 17.2776L19.5901 22.6735C18.9881 23.2755 18.0119 23.2755 17.4099 22.6735L12.014 17.2776C11.412 16.6756 11.412 15.6994 12.014 15.0974Z"
                        fill="#4A67A7" />
                </svg>
            </div>
        </div>

        <!-- Buttons -->
        <div class="actions">
            <button class="add-to-cart" (click)="addToCartFast()">{{ 'BUY_NOW' | translate }}</button>
            <button class="add-to-cart" (click)="addToCart()">{{ 'ADD_TO_CART' | translate }}</button>
            <button class="contact-manager">{{ 'CONTACT_MANAGER_BUTTON' | translate }}</button>
        </div>

    </div>

    <!-- Recommendations -->
    <div class="jewelry-wrapper">
        <app-recomendations></app-recomendations>
    </div>
</div>