.catalog-button {
    background-color: #E5E7F6;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    border-radius: 16px;
    padding: 15px 20px;
    text-align: center;
    width: 100%;
    color: #333;
    margin-top: -18px;
    border: none; /* Убирает рамку вокруг элемента */
    outline: none; /* Убирает обводку при фокусе (например, после клика) */
}
