.profile-info-container {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: 'TrajanPro3', sans-serif;
  color: #333;
  margin-top: 60px;
}

.profile-avatar img {
  width: 105px;
  height: 105px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-main {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile-details {
  display: flex;
  flex-direction: column;
}

.username {
  font-size: 24px;
  font-weight: 500;
}

.points {
  font-size: 12px;
  font-weight: 500;
}

.status {
  font-size: 14px;
  font-weight: 500;
}

.referral-link-container {
  display: flex;
  flex-direction: column; /* Размещение элементов в столбец */
  align-items: center;
  justify-content: center;
  background: rgba(240, 209, 161, 0.3);
  width: 100%;
  max-width: 300px;
  height: auto;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer; /* Указатель, чтобы показать кликабельность */
}

.referral-link {
  color: #ffce52;
  text-decoration: none;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 190px;
}



/* .copy-button {
  background: none;
  border: none;
  cursor: pointer;
}

.copy-button img {
  width: 25px;
  height: 25px;
} */

/* Остальные стили остаются без изменений */

.friends-list-container {
  background: #a58a83;
  font-family: 'TrajanPro3', sans-serif;
  width: 100%;
  margin-top: 12px;
  box-sizing: border-box;
  border-radius: 2px;
}

.friends-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  font-size: 15px;
  color: #222;
  background: linear-gradient(135deg, #F0D1A1, #E6B87E); /* Градиентный фон */
  padding: 14px;
  border-radius: 12px 12px 0 0;
}

.friend-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: #222;
  padding: 12px 0;
  padding: 16px;
  transition: background 0.3s ease-in-out;
  background: #EFE5E1;
}

.friend-username {
  font-weight: 500;
  color: #444;
}

.friend-points {
  font-weight: 500;
  color: #a58a83; /* Новый цвет очков */
}


.my-purchases-button {
  background: #a58a83;
  color: #fff8f2;
  font-family: 'TrajanPro3', sans-serif;
  font-size: 16px;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
  outline: none; /* Убирает стандартный outline */
  display: inline-block;
  width: 100%;
  margin-top: 8px;
  border: none; /* Убирает возможную черную рамку от границы */
}

.invite-button {
  background-color: #a58a83;
  color: #fff8f2;
  border: none;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
}
