.new-jewelry {
    padding-top: 12px;
    max-width: 1440px;
    margin: 0 auto;
}

.section-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #333;
    margin: 0 0 0 8px;
}

.slider-container {
    margin-bottom: -8px; /* Отступ между строками */
}

.products-row {
    display: flex;
    gap: 10px; /* Отступ между блоками */
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    scroll-padding-left: 10px; /* Слева немного уменьшен */
    scroll-padding-right: 8px; /* Убирает обрезание */
    padding-right: 8px; /* Добавляем отступ для последнего элемента */
    position: relative;
    transition: all 0.3s ease-out;
    flex-wrap: nowrap;
}

/* Скрываем стандартный скроллбар */
.products-row::-webkit-scrollbar {
    display: none;
}

app-product-card {
    scroll-snap-align: start;
    flex: 0 0 200px; /* Фиксированная ширина карточки */
    min-width: 0;
}

app-product-card:last-child {
    margin-right: 10px; /* Убедитесь, что последний продукт не обрезан */
}
