<section class="new-jewelry">
  <div class="products-container">
    <p *ngIf="isLoading" class="loading-text">Загрузка новых товаров...</p>
    <p *ngIf="!isLoading && !products?.length" class="no-results-text">
      К сожалению, ничего не найдено 😞
    </p>

    <div class="slider-container">
      <div class="products-row">
        <app-product-card *ngFor="let product of firstRowProducts" [product]="product" (click)="openProduct(product.id)">
        </app-product-card>
      </div>
    </div>

    <div class="slider-container">
      <div class="products-row">
        <app-product-card *ngFor="let product of secondRowProducts" [product]="product" (click)="openProduct(product.id)">
        </app-product-card>
      </div>
    </div>
  </div>
</section>
