.catalog {
    max-width: 1440px;
    margin: 0 auto;
    padding-left: 8px;
    padding-right: 8px;
    height: 90%;
}

.section-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #000000;
    margin: 8px 0 8px 8px; /* Отступ снизу - 8px */
}

.catalog-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Два столбца */
    gap: 8px; /* Отступ между элементами */
    padding-bottom: 8px; /* Отступ снизу для секции */
}


.loading-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  
  .loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .error-message {
    text-align: center;
    color: red;
    font-size: 16px;
    margin-top: 20px;
  }
  