<div *ngIf="items?.length" class="dynamic-list">
  <div
    class="list-item"
    *ngFor="let item of items; let i = index"
    (click)="toggleExpanded(i)"
  >
    <div class="item-title">
      {{ item.name }}
      <span class="toggle-icon" [class.expanded]="selectedIndex === i">
        <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
          <rect width="30" height="30" fill="url(#pattern0_32_11)"/>
          <defs>
          <pattern id="pattern0_32_11" patternContentUnits="objectBoundingBox" width="1" height="1">
          <use xlink:href="#image0_32_11" transform="scale(0.0333333)"/>
          </pattern>
          <image id="image0_32_11" width="30" height="30" preserveAspectRatio="none" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAACXBIWXMAAAsTAAALEwEAmpwYAAAApklEQVR4nO2UPQ7CMAxGcwkQPW0lux1sJA4B8dJjwESBhQ4cB5RMVYTa5m/zk6Jk8ff0DY4xiqIopRDGqxA+z8d2n5vlMoThZRlu62LCURi/QjDlyL2UYHJZluG+OjD0/U4Y336A4HM5dU2sNMwYuD0kDcbIk6U58mxpiryYNEZeXLpFXk26JK8u/beb/p69S3w4i8xbVm8a4tpZhoc71ZsqiqKYgB9GzugakiNG4QAAAABJRU5ErkJggg=="/>
          </defs>
          </svg>
          
      </span>
    </div>
    <div *ngIf="selectedIndex === i" class="item-options">
      <div class="option-item" *ngFor="let option of item.options">
        <label class="checkbox-container" (click)="$event.stopPropagation()">
          <input
            type="checkbox"
            [checked]="isSelected(item.id, option)"
            (change)="toggleOption(item.id, option)"
          />
          <span class="checkmark"></span>
          {{ option.value }}
        </label>
      </div>
    </div>
  </div>
</div>