@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 56px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    z-index: 1000;
}

.header-button {
    background: none;
    border: none;
    padding: 8px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    color: #333;
}

.content {
    position: absolute;
    top: 56px; /* Высота header */
    left: 0;
    right: 0;
    bottom: 0;
    background: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.payment-iframe {
    width: 100vw; /* Полная ширина экрана */
    height: 1300px; /* Полная высота экрана */
    border: none; /* Убираем рамку */
    overflow: hidden; /* Отключаем прокрутку внутри iframe */
}
