<app-header [pageTitle]="'HOME' | translate"></app-header>

<div class="home">
    <app-image-slider [bannerId]="1"></app-image-slider>
    <!-- <app-images-sliders></app-images-sliders> -->
    <p class="bakery-description">
        {{ 'BAKERY_DESCRIPTION' | translate }}
    </p>

    <div class="jewelry-wrapper">
        <h2 class="section-title">{{ 'CATALOG' | translate }}</h2>
        <app-cataloggeneral [displayCount]="4"></app-cataloggeneral>
        <app-catalog-button></app-catalog-button>
        <h2 class="section-title">{{ 'NEW_JEWELRY' | translate }}</h2>
        <!-- <div class="filters">
            <app-filters [items]="items"></app-filters>
        </div> -->
        <div class="newjeverly">
            <app-new-jewelry></app-new-jewelry>
        </div>
        <div class="newjeverly">
            <app-recomendations></app-recomendations>
        </div>
    </div>
</div>

<!-- <app-navigation></app-navigation> -->