<app-header [pageTitle]="'CART' | translate"></app-header>
<app-image-slider></app-image-slider>
<div class="margin">
  <div *ngIf="cart">
    <app-cart-item *ngFor="let item of cart.items" [imageSrc]="item.image || 'assets/default-image.png'"
      [title]="item.product_name" [price]="item.price" [discountedPrice]="item.discounted_price"
      [quantity]="item.quantity" [productId]="item.product_id" (itemRemoved)="onItemRemoved($event)"
      (quantityChanged)="onQuantityChanged($event)"></app-cart-item>



      <div *ngIf="cart" class="payment-block">
        <span class="payment-text">
          {{ 'TOTAL_PAYMENT' | translate }} {{ cart.total_price }} USD
        </span>
        <span class="payment-text">
          {{ 'POINTS_DISCOUNT_INFO' | translate }} (до {{ maxPoints }}  {{ 'POINTS' | translate }})
        </span>
      
        <input
          class="points-input"
          type="number"
          [max]="maxPoints"
          [min]="0"
          [(ngModel)]="usedPoints"
          (input)="onPointsChanged($event)"
        />
      
        <input
          class="points-slider"
          type="range"
          [max]="maxPoints"
          [min]="0"
          [(ngModel)]="usedPoints"
          (input)="onPointsChanged($event)"
        />
      </div>
      

  </div>

  <!-- <div class="payment-block">
    <span class="payment-text">
      {{ 'POINTS_DISCOUNT_INFO' | translate }} (до {{ maxPoints }}  {{ 'POINTS' | translate }})
    </span>
    <input
      type="number"
      class="points-input"
      [(ngModel)]="usedPoints"
      [min]="0"
      [max]="maxPoints"
      (input)="onPointsInputChange()"
    />
    <input
      type="range"
      class="points-slider"
      [(ngModel)]="usedPoints"
      [min]="0"
      [max]="maxPoints"
      (input)="onPointsSliderChange()"
    />
  </div> -->

</div>

<button class="delivery-button" [routerLink]="['/cart', 'address']">
  {{ 'SELF_PICKUP' | translate }}
</button>

<button class="delivery-button" (click)="redirectToTelegram()">
  {{ 'DELIVERY_CONTACT_MANAGER' | translate }}
</button>

<!-- <button class="delivery-button" (click)="openModal()">Модалка после оплаты</button> -->

<!-- <app-modal *ngIf="showModal" [items]="items" (close)="closeModal()"></app-modal> -->




<div class="px">
</div>

<app-navigation></app-navigation>