<app-header [pageTitle]="'CART' | translate"></app-header>
<div class="margin">
  <!-- <app-images-sliders></app-images-sliders> -->

  <div *ngIf="cart && cart.items.length > 0; else emptyCart" class="q">
    <div class="qq">
      <app-cart-item *ngFor="let item of cart.items" [imageSrc]="item.image || 'assets/default-image.png'"
      [title]="item.product_name" [price]="item.price" [discountedPrice]="item.discounted_price"
      [quantity]="item.quantity" [productId]="item.product_id" (itemRemoved)="onItemRemoved($event)"
      (quantityChanged)="onQuantityChanged($event)">
    </app-cart-item>
    </div>

    <div class="payment-block">
      <span class="payment-text">
        {{ 'TOTAL_PAYMENT' | translate }} {{ cart.total_price | number:'1.2-2' }} р.
      </span>   
    </div>

    <div class="points-container">
      <div class="points-info">
        <div class="discount-text">
          Скидка {{ max_points_usage * 100 }}% за бонусы
        </div>
        <div class="points-balance">
          Спишется {{ maxPoints | number:'1.2-2'}} бонусов из {{ points_balance | number:'1.2-2'}}
        </div>
      </div>
      <label class="switch">
        <input type="checkbox" [(ngModel)]="usePoints" (change)="togglePointsUsage()">
        <span class="slider"></span>
      </label>
    </div>   
  </div>

  <ng-template #emptyCart>
    <div class="empty-cart-message"> {{ 'CART_EMPTY' | translate }}</div>
  </ng-template>
</div>

<button *ngIf="cart && cart.items.length > 0" class="delivery-button"
  [routerLink]="['/cart', 'address']" [queryParams]="{ usedPoints: usedPoints }">
  {{ 'SELF_PICKUP' | translate }}
</button>

<div class="px"></div>

<!-- <app-navigation></app-navigation> -->
