<div class="cart-item">
    <div class="item-image">
        <img [src]="imageSrc" alt="Product Image" />
    </div>
    <div class="item-details">
        <div class="item-title">Кольцо обручальное из розового золота 106010</div>
        <div class="item-footer">
            <div class="quantity-selector">
                <span class="quantity-number">{{ quantity }}</span>
            </div>
            <div class="price-and-remove">
                <span class="item-price">1242 р.</span>
            </div>
        </div>
    </div>
</div>
