@font-face {
    font-family: 'TrajanPro3';
    src: url('assets/fonts/trajan/TrajanPro3Regular.woff') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    margin: 8px !important;
    background-color: #fff8f2 !important;
}

html, body {
    overflow-x: hidden; /* Скрывает вертикальный скролл */
    -webkit-overflow-scrolling: touch; /* Плавный скролл для iOS */
    overscroll-behavior: none; /* Убираем bounce-эффект */
}

* {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}