body {
    margin: 8px !important;
}

html, body {
    overflow-x: hidden; /* Скрывает вертикальный скролл */
}

* {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}