<div class="options-container">
  <div class="option-item" (click)="toggleLanguage()">
    <div class="left-content">
      <img src="../../../../assets/icons/language.svg" alt="Language Icon" class="option-icon" />
      <span class="option-title">{{ 'SELECT_LANGUAGE' | translate }}</span>
    </div>
    <span class="right-text">{{ language }}</span>
  </div>
  
  <div class="option-item" (click)="toggleDatePicker()">
    <div class="left-content">
      <img src="../../../../assets/icons/calendar.svg" alt="Calendar Icon" class="option-icon" />
      <span class="option-title">{{ 'BIRTH_DATE' | translate }}</span>
    </div>
    <span class="right-text">
      <img src="../../../../assets/icons/arrow-down.svg" alt="Expand" class="arrow-icon" [class.rotated]="isDatePickerOpen" />
    </span>
  </div>

  <div class="date-picker-container" *ngIf="isDatePickerOpen">
    <input type="date" [(ngModel)]="selectedDate" max="{{ todayDate | date: 'yyyy-MM-dd' }}" />
    <button (click)="saveDate()">{{ 'SAVE' | translate }}</button>
  </div>

  <div class="option-item-admin" *ngIf="isAdmin" [routerLink]="['/admin']">
    <div class="left-content">
      <img src="../../../../assets/icons/admin.svg" alt="Admin Icon" class="option-icon" />
      <span class="option-title">{{ 'ADMINPNAEL' | translate }}</span>
    </div>
  </div>
</div>
