<div class="options-container">
    <div class="option-item" (click)="selectOption('language')">
        <span class="option-title">Выбрать язык</span>
    </div>
    <div class="option-item" (click)="selectOption('currency')">
        <span class="option-title">Выбрать валюту</span>
    </div>
    <div class="option-item" (click)="selectOption('birthDate')">
        <span class="option-title">Дата рождения</span>
    </div>
    <div class="option-item" (click)="selectOption('contactManager')">
        <span class="option-title">Связь с менеджером</span>
    </div>
</div>