.options-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.option-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'TrajanPro3', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #a58a83;
}

.option-item-admin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'TrajanPro3', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: #a58a83;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    box-sizing: border-box;
    z-index: 1000;
}

.left-content {
    display: flex;
    align-items: center;
    gap: 8px;
}

.option-icon {
    width: 24px;
    height: 24px;
}

.option-title {
    font-size: 18px;
    font-weight: 500;
}

.right-text {
    font-size: 16px;
    font-weight: 500;
}

.arrow-icon {
    width: 16px;
    height: 16px;
    margin-left: 8px;
    transition: transform 0.3s ease; /* Плавная анимация для поворота */
}

/* Стили для контейнера выбора даты */
.date-picker-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
    border-radius: 8px;
    font-family: 'TrajanPro3', sans-serif;
    margin-top: 8px;
}

/* Стили для инпута даты */
.date-picker-container input[type="date"] {
    padding: 8px;
    border-radius: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

/* Стили для кнопки сохранения */
.date-picker-container button {
    padding: 10px 16px;
    border-radius: 8px;
    background-color: #a58a83;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    align-self: flex-start; /* Кнопка по левому краю */
}

.date-picker-container button:hover {
    background-color: #b88b36;
}

/* Когда дата_picker открыт, поворачиваем стрелочку */
.option-item .arrow-icon.rotated {
    transform: rotate(180deg);
}
